/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define CODE 1
#define NAV  2
#define SYS  3

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        system_layer {
            if-layers = <CODE NAV>;
            then-layer = <SYS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T &kp MINUS &kp EQUAL &kp Y &kp U &kp I     &kp O   &kp P    &kp BSPC
                &kp LCTRL &kp A &kp S &kp D &kp F &kp G &kp ESC   &kp LALT  &kp H &kp J &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B                      &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                      &kp LGUI &mo CODE &kp SPACE              &kp BSPC &mo NAV &kp RET
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        code_layer {
            display-name = "CODE";
            bindings = <
                &kp TAB   &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp GRAVE &kp N7 &kp N8 &kp N9 &kp FSLH  &kp ASTRK &kp DQT
                &kp LCTRL &kp LBKT &kp LBRC &kp LPAR &kp LT   &kp AMPS  &kp PIPE  &kp LALT  &kp N4 &kp N5 &kp N6 &kp MINUS &kp PLUS  &kp EQUAL
                &kp LSHFT &kp RBKT &kp RBRC &kp RPAR &kp GT   &kp BSLH                       &kp N1 &kp N2 &kp N3 &kp COMMA &kp DOT   &kp RSHFT
                                                    &kp LGUI &mo CODE &kp SPACE              &kp N0 &mo NAV &kp RET
            >;
        };

        nav_layer {
            display-name = "NAV";
            bindings = <
                &kp PSCRN &kp SLCK &kp PAUSE_BREAK &trans &trans &trans &trans &trans &kp HOME &kp LC(LEFT) &kp LC(RIGHT) &kp END   &kp DEL   &kp BSPC
                &kp LCTRL &kp CAPS &kp K_APP       &trans &trans &trans &kp ESC &kp LALT &kp LEFT &kp DOWN     &kp UP        &kp RIGHT &caps_word &kp ESC
                &kp LSHFT &kp RALT &kp RCTRL       &trans &trans &trans                       &kp INS  &kp PG_DN    &kp PG_UP     &kp LC(PG_UP) &kp LC(PG_DN) &kp RSHFT
                                                    &kp LGUI &mo CODE &kp SPACE                &kp BSPC &mo NAV &kp RET
            >;
        };

        sys_layer {
            display-name = "SYS";
            bindings = <
                &kp F1    &kp F2       &kp F3       &kp F4       &kp F5       &kp F6       &rgb_ug RGB_TOG &rgb_ug RGB_EFF &kp F7      &kp F8           &kp F9           &kp F10          &kp F11    &kp F12
                &kp LCTRL &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR       &studio_unlock  &kp C_PREV  &kp C_VOL_DN     &kp C_VOL_UP     &kp C_NEXT       &kp C_MUTE &kp C_PP
                &kp LSHFT &sys_reset   &bootloader  &out OUT_USB &out OUT_BLE &trans                                            &rgb_ug RGB_BRD &rgb_ug RGB_BRI &rgb_ug RGB_HUD &rgb_ug RGB_HUI &trans &kp RSHFT
                                                                   &kp LGUI &mo CODE &kp SPACE                                  &kp BSPC &mo NAV &kp RET
            >;
        };

        studio_layer_4 {
            display-name = "STUDIO 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans
            >;
        };

        studio_layer_5 {
            display-name = "STUDIO 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans
            >;
        };

        studio_layer_6 {
            display-name = "STUDIO 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans
            >;
        };

        studio_layer_7 {
            display-name = "STUDIO 7";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans
            >;
        };
    };
};
